<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>This is my first thymleaf project </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/webjars/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1> Hey Thymleaf</h1>
    <div class="row">
        <div class="col-md-12"><h2 style="color: coral"> This is a demo project to check thymleaf</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: coral"> This is a demo project to check thymleaf</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12"><h2 style="color: coral"> This is a demo project to check thymleaf</h2></div>
    </div>
</div>
</body>
</html>